##############
# IDE / OS
##############
.idea/
.vscode/
.DS_Store
Thumbs.db

##############
# Environnement
##############
.env
_docker/.env

##############
# Logs
##############
*.log

##############
# Docker
##############
*.tar

##############
# PHP / Composer
##############
vendor/
composer.lock

##############
# Dossiers d’exécution
##############
/storage/
